/*green #00CE23   yello #FFEE00*/
html {
    overflow-y: scroll
}

body {
    background-color: #000;
    font-family: COURIER;
    color: #FFF;
    font-size: 22px
}

ul {
    font-weight: normal
}

.hidden {
    display: none
}

.yellow {
    color: #FFEE00
}

.green {
    color: #00CE23 
}

.bold {
    font-weight: 600
}

.wid300 {
    display: inline-block;
    width: 300px
}

.inline-block {
    display: inline-block;
    float: right;
    width: 1072px
}

#name {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.5em;
    margin-bottom: 0
}

#name::before,
#name::after {
    content: "----------------------";
    display: block;
    white-space: nowrap;
    overflow: hidden
}

#title {
    text-align: center;
    letter-spacing: 1em;
    font-size: 28px;
    color: #FFEE00;
    margin-bottom: 30px
}

.ex {
    font-weight: bold;
    font-size: 25px
}

label {
    display: block
}

input[type="text"] {
    background-color: #000;
    border: none;
    font-size: 25px;
    font-family: inherit;
    font-weight: bold;
    color: #00CE23;
/*
    color: transparent;
    text-shadow: 0 0 0 #00CE23
*/
}

input[type="text"]:focus {
    outline: none
}

#help ul li:first-of-type {
    padding-bottom: 20px
}
#experience ul li,
#education ul li,
#training ul li,
#voluntary-work ul li {
    overflow: hidden
}

#experience ul li h4,
#experience ul li p,
#education ul li h4,
#education ul li p,
#training ul li h4,
#training ul li p,
#voluntary-work ul li h4,
#voluntary-work ul li p {
    float: left
}

#experience ul li p,
#education ul li p,
#voluntary-work ul li p {
    width: 900px
}

#self-study {
    color: #FFF
}

#self-study li {
    margin-bottom:10px
}

#self-study li span {
    font-size: 18px
}

section ul li h4 {
    font-weight: normal
}

h3, p, .br {
    margin: 0 15px 20px;
}

.br {
    white-space: nowrap;
    overflow: hidden
}

h4 {
    margin-left: 0;
    margin-top: 0
}

#training ul,
#education ul,
#experience ul,
#voluntary-work ul {
    padding-left: 15px
}

.flash {
  -moz-animation: flash 1s linear infinite alternate;
  -webkit-animation: flash 1s linear infinite alternate;
  -ms-animation: flash 1s linear infinite alternate;
}

@keyframes flash {
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes flash {
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes flash {
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes flash {
    50% { opacity: 1; }
    100% { opacity: 0; }
}


@media (max-width:768px) {
    body {
        background-color: #000;
        font-family: COURIER;
        color: #FFF;
        font-size: 16px
    }
    #name {
        font-size: 20px
    }  
    #title {
        font-size: 15px
    }
    .ex,
    input[type="text"] {
        font-size: 20px;
    }
    #help ul li span,
    #about ul li span {
        display: block
    }
    #help ul li,
    #about ul li,
    #objective P {
        word-wrap: break-word
    }
    #help ul li:first-of-type {
        display: none
    }
    #experience ul li p, #education ul li p, #voluntary-work ul li p {
        display: block;
        width: auto
    }
    #help ul li span,
    #about ul li span,
    #languages ul li span {
        display:block;
        width: 100%
     }
    #experience ul li h4,
    #education ul li h4,
    #training ul li h4,
    #voluntary-work ul li h4 {
        display:block;
        text-align: center;
        width: 100%
    }
}